.navbar-cont{
    background: linear-gradient(180deg, rgb(71, 87, 153) 0%, transparent 70%);
    height: 100px;
}

.navbar-items-cont{
    color: rgb(255, 255, 255);
    width: 75%;
    border-bottom: 1px white solid;
    margin: auto;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.navbar-extra-cont{
    display: flex;
    grid-gap: 10px;
}

.navbar-comp-info{
    margin: auto 0;
    grid-gap: 10px;
    display: flex;
}

.navbar-name-moto{
    display: flex;
    flex-direction: column;
}

.navbar-comp-name{
    margin: 0;
    font-size: 22px;
    letter-spacing: 1.2px;
    color: rgb(255, 255, 255);
}

.navbar-moto{
    color: rgb(0, 0, 0);
}

.nav-item{
    padding: 20px 10px;
    text-decoration: none;
}

.nav-item:hover{
    cursor: pointer;
}

.nav-item:visited{
    text-decoration: none;
    color: white;
}