.storefront-container{
    font-family: Poppins, sans-serif;
    margin: auto;
    background-color: rgb(237, 237, 237);
    width: 100%;
}

.storefront-intro-cont{
    background: url("../../images/whitebackground.jpg");
    height: 1000px;
    background-size: cover;
    max-height: 100%;
    min-width: 100%;
}

.storefront-intro-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.storefront-intro-item{
    text-align: center;
    height: 100%;
}

.storefront-intro-item>h1{
    margin: 275px auto 0 auto;
    font-size: 50px;
    padding: 20px;
    font-weight: bold;
    color: rgb(25, 25, 25);
}

.start-shopping{
    width: 150px;
    display: block;
    margin: 20px auto 50px auto;
    border-radius: 7px;
    font-weight: bold;
    border: 1px solid rgb(43, 43, 43);
    color: rgb(0, 0, 0);
    padding: 7px 10px;
    text-decoration: none;
}

.start-shopping:hover{
    cursor: pointer;
}

.st-i-overview{
    background-color: rgb(205, 205, 205, 0.3);
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgb(145, 150, 171);
    width: 35%;
    margin: 25px auto;
    padding: 15px 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.st-i-overview>div{
    font-weight: bold;
    font-size: 20px;
}

.st-i-o-header{
    margin: 0;
}

.st-i-o-data{
    margin: 10px auto 5px;
    font-size: 18px;
}

.reviews-amount{
    color: rgb(16, 16, 16);
    font-weight: normal;
    margin: auto;
    font-size: 14px;
}

.column-one{
    width: 10%;
}

.column-three{

}

.storefront-info-item{
    font-weight: bold;
    font-size: 18px;
    margin: auto;
}

.storefront-info-item:visited{
    color: black;
}

.storefront-nav-link{
    margin: auto 0;
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.product-nav{
    box-sizing: border-box;
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 7px 10px;
}

.storefront-navbar-background
{
    width: 100%;
    padding: 20px 0 20px;
    top: 0;
    background: linear-gradient(180deg, rgb(166, 166, 166) 0%, transparent 90%);
}

.storefront-header-cont{
    position: fixed;
    top: 0;
    margin: auto;
    width: 100%;
    letter-spacing: 0.5px;
}

.storefront-navbar-cont{
    position: relative;
    display: flex;
    margin: auto;
    height: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    width: 70%;
}

.storefront-info-cont{
    display: flex;
    justify-content: left;
    grid-gap: 20px;
}

.storefront-extra-cont{ 
    width: 40%;
    height: 100%;
    margin: auto 0;
    box-sizing: border-box;
    display: flex;
    justify-content: right;
    grid-gap: 30px;
    font-size: 16px;
}


