.product-section-background-cont{
  background-color: #d2d2d2b3;
}

.product-section-cont{
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
  margin: auto;
  width: 70%;
  padding: 50px
}

.products-header{
  font-size: 32px;
  margin: 0;
}

.products-cont{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.store-product-item-cont{
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    background-color: 	rgb(221, 221, 221);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.store-product-item-cont:hover{
  transform: translateY(-8px);
}

.store-product-item-cont>a{
  color: black;
}

.p-item-image{
  box-sizing: border-box;
  border-bottom: 1px solid rgb(152, 152, 152);
  width: 100%;
  height: 250px;
  background-size: cover;
}

.p-item-info{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 12px;
}

.p-item-extra-info{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px auto;
}

.product-text-cont{
}

.p-item-title{
  font-size: 20px;
}

.p-item-stock{
  text-align: left;
  font-size: 14px;
  color: rgb(84, 84, 84);
}