.shopping-cart-checkout-page{
    display: flex;
    margin: auto;
    width: 90%;
    gap: 50px;
}

.shopping-cart-section{
    width: 70%;
}

.shopping-cart-cont{
    width: 100%;
    margin: auto;
}

.shopping-cart-item{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.shopping-cart-item-img{
    width: 75px;
    height: 75px;
}

.shopping-cart-item-info{
    width: 45%;
    display: flex;
    gap: 10px
}

.shopping-cart-item-price{
    width: 25%;
    text-align: right;
}

.shopping-cart-item-remove-btn{
    background-color: rgb(168, 64, 64);
    margin-left: auto;
    display: block;
    outline: none;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}


.shopping-cart-item-actions{
    width: 30%;
}

.shopping-cart-item-remove-btn:hover{
    cursor: pointer;
}

#order-success{
    display: none;
    margin: auto;
    width: 75%;
}

.checkout-section{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.card-num-and-expiration-date-cvv{
    display: flex;
    justify-content: space-between;
}

.card-info-header{
    margin: 5px 0;
}

.card-number-input{
    width: 140px;
    padding: 7px 10px;
}

.card-month{
    width: 30px;
    padding: 7px 10px;
}

.card-cvv-input{
    width: 30px;
    padding: 7px 10px;
}

.card-year{
    width: 30px;
    padding: 7px 10px;
}

.order-button{
    padding: 8px;
    margin: 10px 0;
    font-size: 16px;
    border: none;
    background-color: rgb(103, 135, 222);
    color: white;
}

.order-button:hover{
    cursor: pointer;
    font-weight: bold;
}