/* General styles */
.dashboard-cont {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.dashboard-top-cont {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.db-page-containter{
  padding: 40px;
  display: flex;
  flex-direction: column;
  grid-gap: 30px
}

.marcom-slogan {
  font-size: 18px;
  font-weight: bold;
}

.signout-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signout-btn:hover {
  background-color: #c82333;
}

/* Navigation */
.dashboard-nav {
  background-color: #343a40;
  position: sticky;
  color: white;
  padding: 20px;
  width: 200px;
}

.db-n-item {
  color: white;
  text-decoration: none;
  margin: 10px 0;
  display: block;
  transition: color 0.3s ease;
}

.db-n-item:hover {
  color: #1abc9c;
}

/* Main content area */
.dashboard-main-cont {
  display: flex;
  flex: 1;
}

.dashboard-page-cont {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #f0f0f0;
  color: #ffffff; /* Ensuring text is light enough to be visible */
}

@media (max-width: 768px) {
  .dashboard-nav {
    width: 100%;
    height: auto;
  }

  .dashboard-main-cont {
    flex-direction: column;
  }
}
