/* General styles */
.dashboard-cont {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .dashboard-top-cont {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .marcom-slogan {
    font-size: 18px;
    font-weight: bold;
  }
  
  .signout-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  /* Navigation */
  .dashboard-nav {
    background-color: #343a40;
    color: white;
    padding: 20px;
    width: 200px;
    height: calc(100vh - 40px); /* Adjust based on top and bottom padding */
    overflow-y: auto;
  }
  
  .db-n-item {
    color: white;
    text-decoration: none;
    margin: 10px 0;
    display: block;
    transition: color 0.3s ease;
  }
  
  .db-n-item:hover {
    color: #1ABC9C;
  }
  
  /* Main content area */
  .dashboard-main-cont {
    display: flex;
    flex: 1;
  }
  
  .dashboard-page-cont {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #f0f0f0;
    color: #ffffff; /* Ensuring text is dark enough to be visible */
  }
  
  
  @media (max-width: 768px) {
    .dashboard-nav {
      width: 100%;
      height: auto;
    }
  
    .dashboard-main-cont {
      flex-direction: column;
    }
  }
  