.store-contact-page-container{
    width: 65%;
    height: 100px;
    margin: auto;
    box-sizing: border-box;
}

.store-contact-form{
    width: 100%;
}

.store-contact-form>input{
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}    

.store-contact-form>textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 250px;
    max-height: 250px;
}

.store-contact-form-submit{
    background-color: #8177f3; 
    color: white;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
    
}


.store-contact-form-submit:hover{
    cursor: pointer;
    background-color: #a080ec; 
}

.store-contact-form-submit:active{
    background-color: #a587eb;
}

.store-contact-form>textarea:hover{
    box-shadow: inset 0px 0px 5px rgb(135, 148, 154);
}