.db-query-messenger-container
{
    display: flex;
    max-height: 600px;
    overflow: auto;
    flex-direction: column;
}

.query-messages-cont{
    max-height: 500px;
    padding-right: 10px;
    overflow: auto;
}

.db-query-messenger-header
{
    padding: 5px 0 10px 0;
    font-size: 20px;
    color: white;
    border-bottom: white 1px solid;
}

.db-query-respond-cont{
    display: flex;
    width: 100%;
    margin: 20px 0 10px 0;
}

.db-query-response-input{
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 15px;
    padding: 10px;
    outline: none;
    margin: auto 0;
    width: 80%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.db-query-response-btn{
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: auto 0;
    color: white;
    width: 20%;
    background-color: rgb(105, 140, 176);
}

.db-query-response-btn:disabled{
    cursor: not-allowed;
    color: #c9c9c9;
    background-color: #8d8989;
}

.db-query-response-btn:hover{
    cursor: pointer;
}


.query-msg-cont{
    display: inline-block;  
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 7px;
}

/* CSS for separate messages when opening messenger*/
.query-msg{
    max-width: 340px;
    border-radius: 5px;
    padding: 6px 9px;
}

.query-sender-msg{
    background-color: white;
    color: black;
    float: right;
}

.query-owner-msg{
    background-color: rgb(77, 95, 201);
    color: white;
    float: left;
}