.signin-register-main{
    margin: 90px auto;
    width: 425px;
}

.signin-register-main>h1{
    font-size: 28px;
    color: rgb(101, 101, 101);
    margin: 10px 0;
}

.signin-register-div{
    color: white;
    padding: 30px 35px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 1px 7px 2px rgb(71, 87, 153);
}

.signin-register-div>h2{
    margin: 0 0 20px 0;
    font-size: 17px;
    color: rgb(73, 83, 108);
}

.signin-register-div>p{
    font-weight: bold;
    color: rgb(101, 101, 101);
    font-size: 15px;
    margin: 0;
}

.signin-register-div>input{
    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
    color: rgb(0, 0, 0);
    padding: 12px 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    outline: none;
}

.signin-register-div>input:hover{
    box-shadow: inset 0px 0px 5px rgb(135, 148, 154);
}

.signin-register-div>input[type="submit"]
{
    text-align: center;
    background-color: rgb(115, 141, 190);
    color: white;
    font-weight: bold;
    border: none;
}

.signin-register-options{
    color: rgb(118, 118, 118);
    font-size: 14px;
}
.signin-register-options>a{
    color: rgb(101, 101, 101);
}
.signin-register-options>a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.signin-register-btn{
    width: 100%;
    background-color: rgb(87, 138, 192);
    color: white;
    letter-spacing: 0.8px;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    outline: line;
}

.signin-register-btn:hover{
    opacity: 0.8;
    cursor: pointer;
}