.cd-invoices-cont{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    color: black;
    box-sizing: border-box;
    border-radius: 10px;
}

.cd-invoice-preview
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cd-invoice-preview-header{
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(223, 223, 223);
    border-bottom: 1px solid rgb(179, 179, 179);
    border-radius: 10px;
}

.cd-invoice-p-email{
    width: 25%;
    text-align: left;
}

.cd-invoice-p-email-header{
    font-weight: bold;
    text-align: left;
}

.cd-invoice-p-total{
    display: flex;
    width: 25%;
    flex-direction: column;
}

.cd-invoice-p-total-header{
    font-weight: bold;
    text-align: right;
}

.cd-invoice-p-total-price{
    text-align: right;
}

.cd-invoice-p-status{
    margin: auto 0;
    text-align: center;
    padding: 5px 10px;
    width: 7%;
    background-color: rgb(180, 180, 180);
    color: white;
    border-radius: 5px;
}

.cd-invoice-p-title-and-id{
    display: flex;
    width: 35%;
    flex-direction: column;
    margin: auto 0;
}

.cd-invoice-p-title{
    font-weight: bold;
}

.cd-invoice-p-id{
    font-size: 12px;
}

.cd-invoice-preview-main{
    padding: 10px;
}

.cd-invoice-p-main-img{
    min-width: 150px;
    max-width: 150px;
    min-height: 150px;
    max-height: 150px;
}